header, footer{
    background-color: black;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: auto auto 1fr auto;
    margin: 0;
}

#sinMovimientos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: auto;
    text-align: center;
}

.estructura{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.estructura1, 
.estructura2{
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

.izq,
.dcha {
    width: 40%;
}
