<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYPTOKENS</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>

    <header>
        {% block cabecera %}

        {% endblock %}
    </header>

    <section class="container">
        {% block contenido %}

        {% endblock %}
    </section>

    <footer>
        <div class="container">
            &copy; 2024 - Todos los derechos reservados (Daniel Granado-Rafart Santana with KeepCoding )
    </footer>
    
</body>
</html>