{% extends 'base.html' %}

{% block cabecera %}
<div class="container">
    <nav>
        <ul>
          <li><strong>CRYPTOKENS</strong></li>
        </ul>
        <ul>
          <li><a href="/" role="button" style="background-color: white; color: black; border: gray;">Inicio</a></li>
          <li><a role="button" style="background-color: gray; border: gray;">Compraventa</a></li>
          <li><a href="/status" role="button" style="background-color: white; color: black; border: gray;">myCRYPTO</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block contenido %}
<div class="container">
    <h1>COMPRA DE CRIPTOS</h1>
    <form action="/purchase" method="post" class="crypto-form">
        <div class="estructura">
            <div class="izq">
                <label for="moneda_from">Moneda Origen:</label>
                <select type="text" id="moneda_from" name="moneda_from" step="0.01" value="{{dataForm['moneda_from']}}">
                </select>
            </div>
            <div class="dcha">
                <label for="moneda_to">Moneda Deseada:</label>
                <select type="text" id="moneda_to" name="moneda_to" step="0.01" value="{{dataForm['moneda_to']}}">
                </select>
            </div>
        </div>
        <div class="estructura">
          <div class="izq">
            <label for="cantidad_from">Cantidad:</label>
            <input type="number" id="cantidad_from" name="cantidad_from" step="0.01" value="{{dataForm['cantidad_from']}}">
            <a href="#">
            <span class="material-symbols-outlined">
              calculate
            </span>
            </a>
        </div>
            <div class="dcha">
                <label for="cantidad_to">Cantidad:</label>
                <input type="number" id="cantidad_to" name="cantidad_to" step="0.01" value="{{dataForm['cantidad_to']}}">
            </div>
        </div>

        <div class="estructura1">
            <div class="dcha">
                <label for="precio_unitario">P.U.:</label>
                <input type="number" id="precio_unitario" name="precio_unitario" value="{{dataForm['precio_unitario']}}">
            </div>
        </div>
        <div class="estructura2">
            <div class="dcha">
              <button type="submit">Ejecutar Transacción</button>
            </div>
        </div>
    </form>

    <article>
        <ul>
            {% for item in errors %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}