{% extends 'base.html' %}

{% block cabecera %}
<div class="container">
    <nav>
        <ul>
          <li><strong>CRYPTOKENS</strong></li>
        </ul>
        <ul>
          <li><a href="/" role="button" style="background-color: white; color: black; border: gray;">Inicio</a></li>
          <li><a role="button" style="background-color: gray; border: gray;">Compraventa</a></li>
          <li><a href="/status" role="button" style="background-color: white; color: black; border: gray;">myCRYPTO</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block contenido %}
<div class="container">
    <h1>CRYPTOTRANSACCIONES</h1>
    <form action="/purchase" method="post" class="crypto-form">
        {{ dataForm.csrf_token }}
        <div class="estructura">
            <div class="izq">
                {{ dataForm.moneda_from.label }}
                {{ dataForm.moneda_from }}
            </div>
            <div class="dcha">
                {{ dataForm.moneda_to.label }}
                {{ dataForm.moneda_to }}
            </div>
        </div>
        <div class="estructura">
          <div class="izq">
            {{ dataForm.cantidad_from.label }}
            {{ dataForm.cantidad_from(type='number', step='0.01', placeholder='Ingrese cantidad') }}
            <div class="estructura2">
            {{dataForm.calculate(style="background-color: black; color: white; border: gray;") }} 
            </div>
        </div>
            <div class="dcha">
                {{ dataForm.cantidad_to.label }}
                <span>{{ cantidad_to }} {{moneda_to}}</span>
            </div>
        </div>

        <div class="estructura1">
            <div class="dcha">
                {{ dataForm.precio_unitario.label }}
                <span>{{ precio_unitario}} {{moneda_from}}</span>
            </div>
        </div>
        <div class="estructura2">
            <div class="dcha">
              {{ dataForm.submit(style="background-color: black; color: white; border: gray;") }}
            </div>
        </div>
    </form>
    <article>
        {% if errors %}
        {% for item in errors %}
            <li>{{item}}</li>
        {% endfor %}
    {% endif %}
    </article>

</div>
{% endblock %}