{% extends 'base.html' %}

{% block cabecera %}
<div class="container">
    <nav>
        <ul>
          <li><strong>CRYPTOKENS</strong></li>
        </ul>
        <ul>
          <li><a href="/" role="button" style="background-color: white; color: black; border: gray;">Inicio</a></li>
          <li><a href="/purchase" role="button" style="background-color: white; color: black; border: gray;">Compraventa</a></li>
          <li><a role="button" style="background-color: gray; border: gray;">myCRYPTO</a></li>
        </ul>
      </nav>
</div>
{% endblock %}

{% block contenido %}
<h1>myCRYNVERSIONES</h1>

{% endblock %}